$accent: #2B4074;
$text-color: #4A4A4A;
$bg-color: #F9F6E5;

%roboto-500 {
  font-family: "Roboto Medium" , Arial;
  font-weight: 500;
}

%robotoCond-400 {
  font-family: "RobotoCondensed Regular" , Arial;
  font-weight: 400;
}

%robotoCond-700 {
  font-family: "RobotoCondensed Bold" , Arial;
  font-weight: 700;
}

%dosis-300 {
  font-family: "Dosis light", arial;
  font-weight: 300;
}

%dosis-400 {
  font-family: "Dosis medium", arial;
  font-weight: 500;
}